#title {
    text-align: center;
    margin-top: 10svh;
    font-size: 400%;
}

#center_title-card {
    width: 100svw;
    height: 90svh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title-card {
    width: 50%;
    min-width: 340px;
    height: 80svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.2svh solid var(--primary);
}

#title-card:hover {
    box-shadow: 0px 0px 15px var(--primary);
}

#profile-pic {
    width: 30%;
    aspect-ratio: 1 / 1;
    box-shadow: 0px 0px 15px white;
    border: 0.1svh solid var(--background);
    border-radius: 60svw;
}

#card-header {
    margin-top: 5%;
    margin-bottom: 0;
    text-align: center;
    font-size: 50px;
}

#subtext {
    font-size: 30px;
    text-align: center;
    font-style: italic;
}

#more-info {
    margin-top: 20px;
    padding: 5% 10%;
    width: 200px;
    background: var(--background);
    border: 0.2svh solid var(--primary);
    color: var(--primary);
    font-size: 25px;
    text-align: center;
    text-decoration: none;
}

#more-info:hover {
    box-shadow: 0px 0px 15px var(--primary);
    background: var(--primary);
    color: var(--background);
    text-decoration: underline;
}

#showcase-header {
    margin-bottom: 15svh;
    padding-top: 10svh;
    text-align: center;
    font-size: 300%;
}

#showcase {
    margin-bottom: 5svh;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

#tech-grid {
    flex: 3 700px;
}

#tech-grid div {
    margin-top: 10svh;
    margin-bottom: 10svh;
}

#tech-grid h2 {
    margin-bottom: 5svh;
    font-size: 200%;
}

#tech-grid img {
    width: 15%;
    aspect-ratio: 3 / 2;
    object-fit: contain;
    mix-blend-mode: screen;
}

#card-holder {
    flex: 1 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card-holder .card:nth-child(3n+1) {
    transform: rotate(-15deg);
    z-index: 1;
}

#card-holder .card:nth-child(3n+2) {
    transform: rotate(15deg);
    z-index: 2;
}

#card-holder .card:nth-child(3n) {
    z-index: 3;
}

.card {
    width: 250px;
    height: 350px;
    border: 1px solid var(--accent);
    border-radius: 10px;
    background: var(--background);
}

.card:hover {
    box-shadow: 0px 0px 15px var(--accent);
}

.card a {
    color: var(--text-color);
    text-decoration: none;
}

.card .emoji {
    text-align: center;
    font-size: 50px;
}

.card h3 {
    text-align: center;
    font-size: 110%;
}

.card .project-desc {
    width: 90%;
    margin-left: 5%;
    font-style: italic;
}

#center_contacts {
    margin-top: 6svh;
    margin-bottom: 4svh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

#center_contacts a {
    color: var(--primary);
}

#center_contacts a:hover {
    text-shadow: 0px 0px 10px var(--primary);
}
